/* CSS for typing animation */
@keyframes typing {
    from { width: 0 }
}

.typing {
    display: inline-block;
    overflow: hidden;
    border-right: .15em solid orange; /* Change this color to match your design */
    white-space: nowrap;
    margin: 0;
    padding: 0;
    animation: typing 2s steps(15, end);
}

.projects-container {
    display: flex;
    justify-content: center;
  }
  

  .welcome-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3498db; /* Background color changed to blue */
    color: white;
    padding: 30px; /* Increased padding */
    border-radius: 10px;
    display: none;
    font-size: 24px; /* Increased font size */
    font-weight: bold; /* Added font weight */
  }